body {
    background: radial-gradient(circle at center, rgb(186, 230, 253) 0%, #0C0927 30%, rgb(49, 46, 129) 100%), linear-gradient(to right, #172D66 0%, #172D66 25%, #36BCE0 25%, #36BCE0 50%, #C42AD8 50%, #C42AD8 75%, #172D66 75%, #172D66 100%);
    background-attachment: fixed;
    background-size: cover;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-left: 6rem;
    margin-top: 50rem;
}

.sidebar {
    position: fixed;
    left: 2%;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    min-height: 70vh;
}

.sidebar a {
    background-image: linear-gradient(to bottom right, rgba(57, 208, 216, 0.2), transparent);
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sidebar a:hover {
    background-color: rgba(57, 208, 216, 0.1);
}

.sidebar a i,
.sidebar a img {
    color: #44AEB5;
    filter: brightness(0) saturate(100%) invert(66%) sepia(27%) saturate(592%) hue-rotate(130deg) brightness(92%) contrast(87%);
    font-size: 24px;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#title {
    color: rgb(186, 230, 253);
    font-weight: 500;
}

.bg-green-900 {
    background: linear-gradient(to right, #172D66, #181753);
    border-image: linear-gradient(to right, #36BCE0, #C42AD8) 1;
    border-width: 2px;
    border-style: solid;
}

.bg-green-800 {
    background-color: #141041;
}

.bg-green-700 {
    background-color: #141041;
}

.text-white {
    color: white;
}

.rounded-lg {
    border-radius: 0.5rem;
}

.shadow-lg {
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
}

.token-select-wrapper {
    position: relative;
    display: inline-block;
    width: 100%;
}

.token-select-wrapper select {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-color: #131A4A;
    color: white;
    border: none;
    border-radius: 0.5rem;
    padding: 0.75rem 2.5rem 0.75rem 1rem;
    font-size: 1rem;
    width: 100%;
    cursor: pointer;
}

.token-select-wrapper select:focus {
    outline: none;
    box-shadow: 0 0 0 2px rgba(255, 255, 255, 0.2);
}

.token-select-wrapper select option {
    background-color: #131A4A;
    color: white;
    padding: 0.5rem;
}

.token-select-wrapper select option:checked {
    background-color: #131A4A;
}
button {
    background: linear-gradient(to bottom right, #1C3F6B, #191852);
    color: #34B8C3;
    border: 1px;
    border-color: #ABC4FF;
}

/* Media Queries */
@media screen and (max-width: 1080px) {
    .container {
        margin-left: 15rem;
    }

    .sidebar {
        left: 3%;
    }
}

@media screen and (max-width: 768px) {
    .container {
        margin-left: 10%;
    }

    .sidebar {
        left: 4%;
        padding: 20px;
    }

    .sidebar .btn {
        width: 50px;
        height: 50px;
    }
}